.bg-noise {
  background: url(https://grainy-gradients.vercel.app/noise.svg) repeat;
  filter: grayscale(0.5);
}

.bg-grid {
  background-image:
    linear-gradient(to right, var(--grid-line) 1px, transparent 1px),
    linear-gradient(to top, var(--grid-line) 1px, transparent 1px);
  background-size: 50px 50px;
}
